<!DOCTYPE html>
<html>
  <head>
    <title>DataProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <tr>
      <td><%= link_to 'Home', root_path %></td>
      <td><%= link_to 'Category', category_categories_path %></td>
      <td><%= link_to 'Authors', author_authors_path %></td>
      <td><%= link_to 'Superhero', superhero_superheros_path %></td>
      <td><%= link_to 'Superpower', superpower_superpowers_path %></td>
      <td><%= link_to 'About', new_about_path %></td>
    </tr>
  </div>


    <%= yield %>
  </body>
</html>
